body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  color: #002E6E;
}

header {
  background-color: #002E6E;
  color: white;
  padding: 1rem;
  text-align: center;
}

input[type="text"] {
  padding: 0.5rem;
  margin-top: 1rem;
  width: 80%;
  max-width: 400px;
}

button {
  background-color: #AEC5E7;
  color: #002E6E;
  border: none;
  padding: 0.6rem 1.2rem;
  margin: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #88aad7;
}

.hidden {
  display: none;
}

.group-buttons, .mbti-section {
  text-align: center;
  margin-top: 2rem;
}

#loading {
  text-align: center;
  margin: 2rem;
  font-size: 1.2rem;
}

#resultList {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
}

.restaurant-list {
  margin-top: 2rem;
}

.restaurant-item {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  background-color: #f9f9f9;
}
